.like__container{
    cursor: pointer;
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    img{
        width: 1.4rem
    }
}

.like__counter{
    margin-left: 1rem;
}
